
img{
    width: 50%;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/a0026461_508d3d23cd366-1250x768.jpeg") ;
    width: auto;
    height: 100vh
    
}
.Card-Weather{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 500px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightskyblue;
    box-shadow: 2px 2px 2px lightgray;
    border-radius: 10%;
}

*{
    object-fit: fill;
}

h1,h2,p{
    padding: 0.5rem;
    background-color:transparent
}

.Max-Min{
    display: flex;
    background-color: transparent;
}

button{
    width: 200px;
    height: 40px;
    font-size: 1rem;
    background-color: rgb(35, 179, 250);
    border: 0;
    border-radius:20px;
    margin-top: 1rem;
    box-shadow: 2px 2px 2px lightgray;
    color: white;
}